.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2em;
  grid-auto-rows: minmax(100px, auto);
  justify-content: stretch;
  background-color: rgb(247, 238, 238);
  box-shadow: 36px 36px 71px rgb(247, 238, 238);
  padding: 10% 10% 10% 10%;
}
