.wrapper {
}

.wrapper > div {
  border-radius: 5px;
  background: #55b9f3;
  box-shadow: 36px 36px 71px #4596c5, -36px -36px 71px #65dcff;
}

.box-1 {
  padding: 20px;
}

.box-2 {
  padding: 20px;
}

.box-3 {
  /* padding: 5px 5px 50% 5px; */
  /* padding-bottom: 50px; */
}

.box-4 {
  padding: 20px;
}

.box-5 {
  padding: 20px;
}

.profile {
  display: flex;
}
.details {
  margin-left: 25px;
  margin-top: -20px;
}
